:root {
    --background-color: rgb(80, 80, 202);
    --text-color: rgb(24, 24, 95);
    --link-color: rgb(58, 58, 102);
    --table-bg-color: rgb(41, 98, 164);
}

body {
    font-family: 'YourSelectedFont', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: var(--link-color);
}

table {
    background-color: var(--table-bg-color);
    color: var(--text-color);
}

button {
    background-color: rgb(54, 54, 186);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(31, 31, 66);
}

.card-items {
    display: block;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
}

.card-title {
    color: rgb(74, 74, 110);
}

.card-date {
    color: rgb(147, 147, 234);
}

.content {
    content: "Best cards in town";
}
